:root {
  --logo-color: #FF5A5F;
  --rating-color: #FE395C;
  --text-dark: #222222;
  --text-grey: #918E9B;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  color: var(--text-dark);
}

section {
  padding: 0 36px;
}

.section-2 {
  padding-top: 36px;
  display: flex;
  overflow: scroll;
}